
<div class="container mt-3">
    <div class="row">
        <div class="col-6 offset-3 border" style="border-radius:0.3rem">

            <ul class="nav nav-tabs mt-3">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/Posts/New">Create a new post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/BlogPosts/New">Create a new blog post</a>
                </li>
            </ul>

            <label>Create blog post</label>
        </div>
    </div>
</div>